<!-- extender base.html -->
<!-- definir título como Docker -->
<!-- incluir o menu.html -->
<!-- criar o bloco "main" -->
<h1><b>Docker</b></h1>
<table>
	<caption>Contêineres</caption>
	<tr>
		<th>ID</th>
		<th>Imagem</th>
		<th>Nome</th>
		<th>Status</th>
		<th>Ações</th>
	</tr>
  <!-- para cada c em conteineres -->
	<tr class="data-row">
		<td>id curto</td>
		<td>imagem</td>
		<td>nome</td>
		<td>status</td>
		<td class="actions">
			<a href="endpoint/idcontainer"><i class="fas fa-play"></i></a>
			<a href="endpoint/idcontainer"><i class="fas fa-stop"></i></a>
		</td>
	</tr>
  <tr class="log-row">
    <td colspan="5">
      <pre>Consegue implementar os logs?</pre>
    </td>
  </tr>
	<!-- fim do for -->
  <!-- se não há conteineres -->
  <tr>
    <td colspan="5">Nenhum contêiner encontrado</td>
  </tr>
  <!-- fim do if -->
</table>
