{% extends 'base.html' %}
{% block title %}Jenkins{% endblock %}
{% block menu %}{% include 'menu.html' %}{% endblock %}
{% block main %}
<h1><b>Jenkins</b></h1>
<table>
	<tr>
		<th>Nome</th>
		<th>Status</th>
		<th>Ações</th>
	</tr>
	{% for j in jobs %}
	<tr class="data-row">
		<td><a href="{{ j.url }}">{{j.name}}</a></td>
		<td>
			{% if j.color == 'blue' %}
			<i class="far fa-thumbs-up" title="Sucesso!"></i>
      {% elif 'anime' in j.color %}
			<i class="fas fa-hourglass-half" style="color: #ff7f00" title="Executando..."></i>
      {% elif j.color == 'aborted' %}
			<i class="fas fa-ban" title="Abortado"></i>
			{% else %}
			<i class="far fa-thumbs-down" title="Erro!"></i>
			{% endif %}
		</td>
		<td class="actions">
			<a href="/jenkins/build/{{j.name}}"><i class="fas fa-play"></i></a>
      {% if j.info.builds|length %}
			<a href="/jenkins/stop/{{j.name}}/{{ j.info.builds[0].number }}"><i class="fas fa-stop"></i></a>
      {% endif %}
		</td>
	</tr>
  <tr class="log-row">
    <td colspan="3">
      <pre>{{ j.info.logs }}</pre>
    </td>
  </tr>
	{% endfor %}
  {% if not jobs %}
  <tr>
    <td colspan="3">Nenhum job encontrado</td>
  </tr>
  {% endif %}
</table>
{% endblock %}
